---
title:
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel=”stylesheet” href=”https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css”>
    <link rel="stylesheet" href="https://unpkg.com/papercss@1.8.3/dist/paper.min.css">
    <link rel="icon" href="/assets/logo.jpg" />
    <title><% if(title){ %><%= title %> – <% } %>Beautiful Places</title> 
    <link rel="stylesheet" href="/css/styles.scss">
</head>
<body class="content">
	
	<%- include('nav'); %>

    <div class="container container-lg padding-top-large paper content-adj adj">
        <article class="article">
            <h3><a href=""><%- title  %> </a></h3>
            <p class="article-meta">Written by <a href="#"><%- author  %> </a></p>
            <p >
                <%- loadText  %> 
            </p>
          </article>
          <p>
        <a href="">Read More...</a>
        </p>
        <%- content %>
        <a href="/blog" class="paper-btn btn-secondary-outline" >Go Back</a>
    </div>

	<footer>
		<p>
			&copy; 2022 by Samanpreet Kaur
		</p>
		<p>
			You can reach us on Beaitifulplaces00@gmail.com
		</p>
	</footer>

</body>
</html>